In [117]:
import pandas as pd
import re

In [118]:
#第1題
sales = pd.read_excel('./sales.xlsx',sheet_name='Sheet1')

In [119]:
#第2題
print(sales.dtypes)

Year           int64
Product       object
line          object
Product.1     object
type          object
Product.2     object
Order         object
method        object
type.1        object
Retailer      object
country       object
Revenue       object
Planned       object
revenue       object
Product.3     object
cost         float64
Quantity     float64
Unit         float64
cost.1       float64
Unit.1       float64
price        float64
Gross        float64
profit       float64
Unit.2       float64
sale         float64
price.1      float64
dtype: object

In [120]:
#第3題
column_names = sales.columns.tolist()
pattern = re.compile(r'[.\d]+')
for i in range(len(column_names)):
    column_names[i] = re.sub(pattern, '', column_names[i])

new_columns = []
prev_col = ""

for col in column_names:
    if col[0].islower():
        prev_col += " " + col
    else:
        new_columns.append(prev_col)
        prev_col = col

new_columns.append(prev_col)
del new_columns[0]
for col in new_columns:
    print(col)

Year
Product line
Product type
Product
Order method type
Retailer country
Revenue
Planned revenue
Product cost
Quantity
Unit cost
Unit price
Gross profit
Unit sale price

In [121]:
#第4題 「沒錯置到下一欄位，就不會錯置到更後面的欄位」所以Year無錯置問題
sales.groupby(['Year','Product']).size()

Year  Product
2004  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2005  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2006  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2007  Camping           2031
dtype: int64

In [122]:
#第5題

#先檢查錯置情況
print(sales.groupby(['Product','line','Product.1']).size())

#整理
sales['Product line'] = sales['Product'] + ' ' + sales['line']
sales = sales.drop(['Product','line'], axis=1)
sales.head()

Product         line         Product.1
Camping         Equipment    Cooking       5880
                             Lanterns      5292
                             Packs         2646
                             Sleeping      3087
                             Tents         3207
Golf            Equipment    Golf          1764
                             Irons         1764
                             Putters       1323
                             Woods         1764
Mountaineering  Equipment    Climbing      3087
                             Rope          1764
                             Safety        1764
                             Tools         2646
Outdoor         Protection   First         2205
                             Insect        2205
                             Sunscreen     2205
Personal        Accessories  Binoculars    2646
                             Eyewear       7056
                             Knives        3087
                             Navigation    4410
                             Watches       5733
dtype: int64

,Year,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
0,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044,...,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
1,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,13444.7,14313.5,...,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
2,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
3,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
4,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,181120,235237,...,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment

In [123]:
#第6題+第7題
sales['Product type'] = sales['Product.1'] + ' ' + sales['type']
sales = sales.drop(['Product.1','type'], axis=1)
condition= (sales['Product type']=='Climbing Accessories') | (sales['Product type']=='Cooking Gear') | (sales['Product type']=='First Aid') | (sales['Product type']=='Golf Accessories') | (sales['Product type']=='Insect Repellents') | (sales['Product type']=='Sleeping Bags')
new_sales=sales[condition]

print(new_sales.groupby(['Product type','Product.2']).size())
new_sales.head()

Product type          Product.2
Climbing Accessories  Firefly       1323
                      Granite       1764
Cooking Gear          TrailChef     5880
First Aid             Aloe           441
                      Calamine       441
                      Compact        441
                      Deluxe         441
                      Insect         441
Golf Accessories      Course        1764
Insect Repellents     BugShield     2205
Sleeping Bags         Hibernator    3087
dtype: int64

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type
0,2004,TrailChef,Water,Bag,Telephone,United,States,315044,437477,158372,...,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
1,2004,TrailChef,Water,Bag,Telephone,Canada,13444.7,14313.5,6298.8,2172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
2,2004,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
3,2004,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
4,2004,TrailChef,Water,Bag,Telephone,Japan,181120,235237,89413.1,35696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear

In [124]:
#第8題~第11題 - 檢查錯置情況部份


#第8題:持續檢查直到groupby返回值為空，以下發現Produt的長度為1~6沒有到7(p1~p6的檢查之程式碼在此處刪除而移到後方各自區塊)
p7 = new_sales[new_sales['Planned'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print('p7:')
print(p7.groupby(['Product.2','Order','method','type.1','Retailer','country','Revenue','Planned']).size())

#第9題:由題目已知Order method type有7種且長度有1~2

#第10題:後方各區有以檢查後一格資料是否為數字判斷出Retailer country長度(均為1~2)

#第11題:剩下資料皆為數字所占長度均為1

p7:
Series([], dtype: int64)

In [125]:
#第8題~第11題
#本區塊將重複性高、繁冗的部分寫成function(第9題、第10題)
ori_sales = pd.read_excel('./sales.xlsx',sheet_name='Sheet1')

#此function負責整理Retailer country(第9題)
def setRetailerCountry(up_df, df, variable_name):
    columns_list = list(ori_sales.columns)
    second_char = variable_name[1]
    fifth_char = variable_name[4]
    last_char = variable_name[-1]
    Num = int(second_char) + int(fifth_char) + 6
    if last_char == '1':
        df = up_df[~up_df[columns_list[Num]].apply(lambda x: isinstance(x, str))].copy(deep=True)
        df['Retailer country'] = df[columns_list[Num-1]]
    if last_char == '2':
        df = up_df[up_df[columns_list[Num]].apply(lambda x: isinstance(x, str))].copy(deep=True)
        df['Retailer country'] = df[columns_list[Num-1]] + ' ' + df[columns_list[Num]]
    return df

#此function負責整理剩下之數字欄位(第10題)
def tidyTheRest(df, variable_name):
    columns_list = list(ori_sales.columns)
    columns_list[11] = 'OldRevenue'
    columns_list[16] = 'OldQuantity'
    second_char = variable_name[1]
    fifth_char = variable_name[4]
    last_char = variable_name[-1]
    Num = int(second_char) + int(fifth_char) + int(last_char)
    df = df.rename(columns={"Revenue": "OldRevenue"})
    df = df.rename(columns={"Quantity": "OldQuantity"})
    df['Revenue'] = df[columns_list[Num+5]]
    df['Planned revenue'] = df[columns_list[Num+6]]
    df['Product cost'] = df[columns_list[Num+7]]
    df['Quantity'] = df[columns_list[Num+8]]
    df['Unit cost'] = df[columns_list[Num+9]]
    df['Unit price'] = df[columns_list[Num+10]]
    df['Gross profit'] = df[columns_list[Num+11]]
    df['Unit sale price'] = df[columns_list[Num+12]]
    df = df.drop(['Order','method', 'type.1', 'Retailer', 'country', 'OldRevenue', 'Planned', 'revenue', 'Product.3', 'cost', 'OldQuantity', 'Unit', 'cost.1', 'Unit.1', 'price', 'Gross', 'profit', 'Unit.2', 'sale', 'price.1'],axis=1)
    return df

In [126]:
#第8~11題
#Product長度為1的整理區(第8題)

p1 = new_sales[new_sales['Order'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p1.groupby(['Product.2','Order']).size())
p1['Product'] = p1['Product.2']
p1 = p1.drop(['Product.2'],axis=1)

#Order method type長度為1的整理區(第9題)
p1_o1 = p1[p1['Order'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p1_o1['Order method type'] =  p1_o1['Order']
p1_o1_r1 = pd.DataFrame()
p1_o1_r1 = setRetailerCountry(p1_o1, p1_o1_r1, 'p1_o1_r1')#Retail country長度為1的整理區(第10題)
p1_o1_r1 = tidyTheRest(p1_o1_r1,'p1_o1_r1')#剩下欄位整理區(第11題)
p1_o1_r2 = pd.DataFrame()
p1_o1_r2 = setRetailerCountry(p1_o1, p1_o1_r2, 'p1_o1_r2')#Retail country長度為2的整理區(第10題)
p1_o1_r2 = tidyTheRest(p1_o1_r2,'p1_o1_r2')

#Order method type長度為2的整理區(第9題)
p1_o2 = p1[p1['Order'].isin([
    'Sales'
])].copy(deep=True)
p1_o2['Order method type'] =  p1_o2['Order'] + ' ' + p1_o2['method']
p1_o2_r1 = pd.DataFrame()
p1_o2_r1 = setRetailerCountry(p1_o2, p1_o2_r1, 'p1_o2_r1')
p1_o2_r1 = tidyTheRest(p1_o2_r1,'p1_o2_r1')
p1_o2_r2 = pd.DataFrame()
p1_o2_r2 = setRetailerCountry(p1_o2, p1_o2_r2, 'p1_o2_r2')
p1_o2_r2 = tidyTheRest(p1_o2_r2,'p1_o2_r2')

p1_o1 = pd.concat([p1_o1_r1,p1_o1_r2])
p1_o2 = pd.concat([p1_o2_r1,p1_o2_r2])
p1 = pd.concat([p1_o1,p1_o2])

p1.head()
###################################
# p2~p6區與p1區雷同故不過度詳細註解 #
##################################

Product.2   Order
Hibernator  E-mail       63
            Fax          63
            Mail         63
            Sales        63
            Special      63
            Telephone    63
            Web          63
dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
2500,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2501,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,26627.2,28631.8,16770,195,86,146.83,9857.25,136.550
2502,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2503,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,624589,720054,421744,4904,86,146.83,202845,130.823
2504,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
#第8~11題
#Product長度為2的整理區(詳細註解於p1區)

p2 = new_sales[new_sales['method'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p2.groupby(['Product.2','Order','method']).size())
p2['Product'] = p2['Product.2'] + ' ' + p2['Order']
p2 = p2.drop(['Product.2'],axis=1)

p2_o1 = p2[p2['method'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p2_o1['Order method type'] =  p2_o1['method']
p2_o1_r1 = pd.DataFrame()
p2_o1_r1 = setRetailerCountry(p2_o1, p2_o1_r1, 'p2_o1_r1')
p2_o1_r1 = tidyTheRest(p2_o1_r1,'p2_o1_r1')
p2_o1_r2 = pd.DataFrame()
p2_o1_r2 = setRetailerCountry(p2_o1, p2_o1_r2, 'p2_o1_r2')
p2_o1_r2 = tidyTheRest(p2_o1_r2,'p2_o1_r2')

p2_o2 = p2[p2['method'].isin([
    'Sales'
])].copy(deep=True)
p2_o2['Order method type'] =  p2_o2['method'] + ' ' + p2_o2['type.1']
p2_o2_r1 = pd.DataFrame()
p2_o2_r1 = setRetailerCountry(p2_o2, p2_o2_r1, 'p2_o2_r1')
p2_o2_r1 = tidyTheRest(p2_o2_r1,'p2_o2_r1')
p2_o2_r2 = pd.DataFrame()
p2_o2_r2 = setRetailerCountry(p2_o2, p2_o2_r2, 'p2_o2_r2')
p2_o2_r2 = tidyTheRest(p2_o2_r2,'p2_o2_r2')

p2_o1 = pd.concat([p2_o1_r1,p2_o1_r2])
p2_o2 = pd.concat([p2_o2_r1,p2_o2_r2])
p2 = pd.concat([p2_o1,p2_o2])

p2.head()

Product.2   Order     method
Aloe        Relief    E-mail       63
                      Fax          63
                      Mail         63
                      Sales        63
                      Special      63
                      Telephone    63
                      Web          63
BugShield   Extreme   E-mail       63
                      Fax          63
                      Mail         63
                      Sales        63
                      Special      63
                      Telephone    63
                      Web          63
            Lotion    E-mail       63
                      Fax          63
                      Mail         63
                      Sales        63
                      Special      63
                      Telephone    63
                      Web          63
            Natural   E-mail       63
                      Fax          63
                      Mail         63
                      Sales        63
                      Special      63
                      Telephone    63
                      Web          63
            Spray     E-mail       63
                      Fax          63
                                   ..
Hibernator  Pillow    Telephone    63
                      Web          63
TrailChef   Canteen   E-mail       84
                      Fax          84
                      Mail         84
                      Sales        84
                      Special      84
                      Telephone    84
                      Web          84
            Cup       E-mail       84
                      Fax          84
                      Mail         84
                      Sales        84
                      Special      84
                      Telephone    84
                      Web          84
            Kettle    E-mail       84
                      Fax          84
                      Mail         84
                      Sales        84
                      Special      84
                      Telephone    84
                      Web          84
            Utensils  E-mail       84
                      Fax          84
                      Mail         84
                      Sales        84
                      Special      84
                      Telephone    84
                      Web          84
Length: 126, dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
148,2004,Camping Equipment,Cooking Gear,TrailChef Canteen,Telephone,Canada,8489.36,12129,6408.16,968,6.62,12.53,2081.20,8.770000
149,2004,Camping Equipment,Cooking Gear,TrailChef Canteen,Telephone,Mexico,11962.3,17090.9,9029.68,1364,6.62,12.53,2932.60,8.770000
150,2004,Camping Equipment,Cooking Gear,TrailChef Canteen,Telephone,Brazil,7919.31,11314.6,5977.86,903,6.62,12.53,1941.45,8.770000
151,2004,Camping Equipment,Cooking Gear,TrailChef Canteen,Telephone,Japan,107959,124486,65769.7,9935,6.62,12.53,42189.47,11.286923
152,2004,Camping Equipment,Cooking Gear,TrailChef Canteen,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
#第8~11題
#Product長度為3的整理區(詳細註解於p1區)

p3 = new_sales[new_sales['type.1'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p3.groupby(['Product.2','Order','method','type.1']).size())
p3['Product'] = p3['Product.2'] + ' ' + p3['Order'] + ' ' + p3['method']
p3 = p3.drop(['Product.2'],axis=1)

p3_o1 = p3[p3['type.1'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p3_o1['Order method type'] =  p3_o1['type.1']
p3_o1_r1 = pd.DataFrame()
p3_o1_r1 = setRetailerCountry(p3_o1, p3_o1_r1, 'p3_o1_r1')
p3_o1_r1 = tidyTheRest(p3_o1_r1,'p3_o1_r1')
p3_o1_r2 = pd.DataFrame()
p3_o1_r2 = setRetailerCountry(p3_o1, p3_o1_r2, 'p3_o1_r2')
p3_o1_r2 = tidyTheRest(p3_o1_r2,'p3_o1_r2')

p3_o2 = p3[p3['type.1'].isin([
    'Sales'
])].copy(deep=True)
p3_o2['Order method type'] =  p3_o2['type.1'] + ' ' + p3_o2['Retailer']
p3_o2_r1 = pd.DataFrame()
p3_o2_r1 = setRetailerCountry(p3_o2, p3_o2_r1, 'p3_o2_r1')
p3_o2_r1 = tidyTheRest(p3_o2_r1,'p3_o2_r1')
p3_o2_r2 = pd.DataFrame()
p3_o2_r2 = setRetailerCountry(p3_o2, p3_o2_r2, 'p3_o2_r2')
p3_o2_r2 = tidyTheRest(p3_o2_r2,'p3_o2_r2')

p3_o1 = pd.concat([p3_o1_r1,p3_o1_r2])
p3_o2 = pd.concat([p3_o2_r1,p3_o2_r2])
p3 = pd.concat([p3_o1,p3_o2])

p3.head()

Product.2  Order     method    type.1
BugShield  Lotion    Lite      E-mail       63
                               Fax          63
                               Mail         63
                               Sales        63
                               Special      63
                               Telephone    63
                               Web          63
Compact    Relief    Kit       E-mail       63
                               Fax          63
                               Mail         63
                               Sales        63
                               Special      63
                               Telephone    63
                               Web          63
Course     Pro       Gloves    E-mail       63
                               Fax          63
                               Mail         63
                               Sales        63
                               Special      63
                               Telephone    63
                               Web          63
                     Umbrella  E-mail       63
                               Fax          63
                               Mail         63
                               Sales        63
                               Special      63
                               Telephone    63
                               Web          63
Firefly    Climbing  Lamp      E-mail       63
                               Fax          63
                                            ..
TrailChef  Cook      Set       Telephone    84
                               Web          84
           Double    Flame     E-mail       84
                               Fax          84
                               Mail         84
                               Sales        84
                               Special      84
                               Telephone    84
                               Web          84
           Kitchen   Kit       E-mail       84
                               Fax          84
                               Mail         84
                               Sales        84
                               Special      84
                               Telephone    84
                               Web          84
           Single    Flame     E-mail       84
                               Fax          84
                               Mail         84
                               Sales        84
                               Special      84
                               Telephone    84
                               Web          84
           Water     Bag       E-mail       84
                               Fax          84
                               Mail         84
                               Sales        84
                               Special      84
                               Telephone    84
                               Web          84
Length: 98, dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.7,14313.5,6298.8,2172,2.9,6.59,7145.88,6.190
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120,235237,89413.1,35696,2.657,6.59,91707.18,5.488
5,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
#第8~11題
#Product長度為4的整理區(詳細註解於p1區)

p4 = new_sales[new_sales['Retailer'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p4.groupby(['Product.2','Order','method','type.1','Retailer']).size())
p4['Product'] = p4['Product.2'] + ' ' + p4['Order'] + ' ' + p4['method'] + ' ' + p4['type.1']
p4 = p4.drop(['Product.2'],axis=1)

p4_o1 = p4[p4['Retailer'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p4_o1['Order method type'] =  p4_o1['Retailer']
p4_o1_r1 = pd.DataFrame()
p4_o1_r1 = setRetailerCountry(p4_o1, p4_o1_r1, 'p4_o1_r1')
p4_o1_r1 = tidyTheRest(p4_o1_r1,'p4_o1_r1')
p4_o1_r2 = pd.DataFrame()
p4_o1_r2 = setRetailerCountry(p4_o1, p4_o1_r2, 'p4_o1_r2')
p4_o1_r2 = tidyTheRest(p4_o1_r2,'p4_o1_r2')

p4_o2 = p4[p4['Retailer'].isin([
    'Sales'
])].copy(deep=True)
p4_o2['Order method type'] =  p4_o2['Retailer'] + ' ' + p4_o2['country']
p4_o2_r1 = pd.DataFrame()
p4_o2_r1 = setRetailerCountry(p4_o2, p4_o2_r1, 'p4_o2_r1')
p4_o2_r1 = tidyTheRest(p4_o2_r1,'p4_o2_r1')
p4_o2_r2 = pd.DataFrame()
p4_o2_r2 = setRetailerCountry(p4_o2, p4_o2_r2, 'p4_o2_r2')
p4_o2_r2 = tidyTheRest(p4_o2_r2,'p4_o2_r2')

p4_o1 = pd.concat([p4_o1_r1,p4_o1_r2])
p4_o2 = pd.concat([p4_o2_r1,p4_o2_r2])
p4 = pd.concat([p4_o1,p4_o2])

p4.head()

Product.2  Order   method  type.1  Retailer
Course     Pro     Golf    Bag     E-mail       63
                                   Fax          63
                                   Mail         63
                                   Sales        63
                                   Special      63
                                   Telephone    63
                                   Web          63
Deluxe     Family  Relief  Kit     E-mail       63
                                   Fax          63
                                   Mail         63
                                   Sales        63
                                   Special      63
                                   Telephone    63
                                   Web          63
TrailChef  Deluxe  Cook    Set     E-mail       84
                                   Fax          84
                                   Mail         84
                                   Sales        84
                                   Special      84
                                   Telephone    84
                                   Web          84
dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
736,2004,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,Telephone,Canada,67799.7,72902.6,47831.8,562,85.11,129.72,19967.86,120.64
737,2004,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,2004,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,2004,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,Telephone,Japan,419827,451426,296183,3480,85.11,129.72,123644.40,120.64
740,2004,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
#第8~11題
#Product長度為5的整理區(詳細註解於p1區)

p5 = new_sales[new_sales['country'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p5.groupby(['Product.2','Order','method','type.1','Retailer','country']).size())
p5['Product'] = p5['Product.2'] + ' ' + p5['Order'] + ' ' + str(int(str(p5['method'].iloc[0]))) + ' ' + p5['type.1'] + ' ' + p5['Retailer']
p5 = p5.drop(['Product.2'],axis=1)

p5_o1 = p5[p5['country'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p5_o1['Order method type'] =  p5_o1['country']
p5_o1_r1 = pd.DataFrame()
p5_o1_r1 = setRetailerCountry(p5_o1, p5_o1_r1, 'p5_o1_r1')
p5_o1_r1 = tidyTheRest(p5_o1_r1,'p5_o1_r1')
p5_o1_r2 = pd.DataFrame()
p5_o1_r2 = setRetailerCountry(p5_o1, p5_o1_r2, 'p5_o1_r2')
p5_o1_r2 = tidyTheRest(p5_o1_r2,'p5_o1_r2')

p5_o2 = p5[p5['country'].isin([
    'Sales'
])].copy(deep=True)
p5_o2['Order method type'] =  p5_o2['country'] + ' ' + p5_o2['Revenue']
p5_o2_r1 = pd.DataFrame()
p5_o2_r1 = setRetailerCountry(p5_o2, p5_o2_r1, 'p5_o2_r1')
p5_o2_r1 = tidyTheRest(p5_o2_r1,'p5_o2_r1')
p5_o2_r2 = pd.DataFrame()
p5_o2_r2 = setRetailerCountry(p5_o2, p5_o2_r2, 'p5_o2_r2')
p5_o2_r2 = tidyTheRest(p5_o2_r2,'p5_o2_r2')

p5_o1 = pd.concat([p5_o1_r1,p5_o1_r2])
p5_o2 = pd.concat([p5_o2_r1,p5_o2_r2])
p5 = pd.concat([p5_o1,p5_o2])

p5.head()

Product.2   Order  method  type.1     Retailer  country
Hibernator  Self   0       Inflating  Mat       E-mail       63
                                                Fax          63
                                                Mail         63
                                                Sales        63
                                                Special      63
                                                Telephone    63
                                                Web          63
dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
2794,2004,Camping Equipment,Sleeping Bags,Hibernator Self 0 Inflating Mat,Telephone,Canada,57049.5,61344.1,33258,482.0,69.0,127.27,23791.52,118.360000
2795,2004,Camping Equipment,Sleeping Bags,Hibernator Self 0 Inflating Mat,Telephone,Mexico,28879.8,31053.9,16836,244.0,69.0,127.27,12043.84,118.360000
2796,2004,Camping Equipment,Sleeping Bags,Hibernator Self 0 Inflating Mat,Telephone,Brazil,19647.8,21126.8,11454,166.0,69.0,127.27,8193.76,118.360000
2797,2004,Camping Equipment,Sleeping Bags,Hibernator Self 0 Inflating Mat,Telephone,Japan,423905,470263,254955,3695.0,69.0,127.27,168950.27,115.920833
2798,2004,Camping Equipment,Sleeping Bags,Hibernator Self 0 Inflating Mat,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
#第8~11題
#Product長度為6的整理區(詳細註解於p1區)


p6 = new_sales[new_sales['Revenue'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
])].copy(deep=True)
print(p6.groupby(['Product.2','Order','method','type.1','Retailer','country','Revenue']).size())
p6['Product'] = p6['Product.2'] + ' ' + p6['Order'] + ' ' + p6['method'] + ' ' + p6['type.1'] + ' ' + p6['Retailer'] + ' ' + p6['country']
p6 = p6.drop(['Product.2'],axis=1)

p6_o1 = p6[p6['Revenue'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
])].copy(deep=True)
p6_o1['Order method type'] =  p6_o1['Revenue']
p6_o1_r1 = pd.DataFrame()
p6_o1_r1 = setRetailerCountry(p6_o1, p6_o1_r1, 'p6_o1_r1')
p6_o1_r1 = tidyTheRest(p6_o1_r1,'p6_o1_r1')
p6_o1_r2 = pd.DataFrame()
p6_o1_r2 = setRetailerCountry(p6_o1, p6_o1_r2, 'p6_o1_r2')
p6_o1_r2 = tidyTheRest(p6_o1_r2,'p6_o1_r2')

p6_o2 = p6[p6['Revenue'].isin([
    'Sales'
])].copy(deep=True)
p6_o2['Order method type'] =  p6_o2['Revenue'] + ' ' + p6_o2['Planned']
p6_o2_r1 = pd.DataFrame()
p6_o2_r1 = setRetailerCountry(p6_o2, p6_o2_r1, 'p6_o2_r1')
p6_o2_r1 = tidyTheRest(p6_o2_r1,'p6_o2_r1')
p6_o2_r2 = pd.DataFrame()
p6_o2_r2 = setRetailerCountry(p6_o2, p6_o2_r2, 'p6_o2_r2')
p6_o2_r2 = tidyTheRest(p6_o2_r2,'p6_o2_r2')

p6_o1 = pd.concat([p6_o1_r1,p6_o1_r2])
p6_o2 = pd.concat([p6_o2_r1,p6_o2_r2])
p6 = pd.concat([p6_o1,p6_o2])

p6.head()

Product.2  Order  method  type.1  Retailer  country  Revenue
Course     Pro    Golf    and     Tee       Set      E-mail       63
                                                     Fax          63
                                                     Mail         63
                                                     Sales        63
                                                     Special      63
                                                     Telephone    63
                                                     Web          63
dtype: int64

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
17494,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17495,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Telephone,Mexico,32224.2,35005.6,9212.0,3290.0,2.8,10.64,23012.18,7.308571
17496,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Telephone,Brazil,10268.4,12012.6,3161.2,1129.0,2.8,10.64,7107.20,4.128000
17497,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Telephone,Japan,32314.7,35271.6,9282.0,3315.0,2.8,10.64,23032.65,7.292857
17498,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
#第12題
final = pd.concat([p1,p2,p3,p4,p5,p6]) 
final.sort_index().to_csv('HW1_109403021.csv',index=True)

In [135]:
#第13題
final.groupby('Product type').count()

,Year,Product line,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Product type,,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,729,729,729,729,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,2059,2059,2059,2059,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,812,812,812,812,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,619,619,619,619,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,795,795,795,795,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,3087,1189,1189,1189,1189,1189,1189,1189,1189